


<div class="wrapper full-page-wrapper page-login text-center">

    <div class="inner-page">

        <a href="@Url.Action("IndexLogin", "Home", null)">
            <img src="/images/EDIS_logo_main.jpg" style="height: 300px" />
        </a>
    </div>
    <div class="push-sticky-footer"></div>
</div>
