
<div class="row">
    <div class="col-md-4 ">
        <ul class="breadcrumb">
            <li><i class="fa fa-home"></i><a href="#">Home</a></li>
            <li>Data Input</li>
            <li class="active">Make Transaction</li>
        </ul>
    </div>
</div>
<div class="content">
    <div class="main-header">
        <h2>Make Transactions</h2>

    </div>
    <div class="main-content">

        <div class="row">
            <div class="col-md-4">
                <form novalidate name="form" ng-controller="adviserMakeTransactions">
                    <div class="row">
                        <div class="col-sm-12 form-group">
                            <label>Select Client Group</label>
                            <select required class="form-control" name="clientGroup" ng-change="loadAccounts()" ng-model="clientGroup" ng-options="group.id as group.name for group in groups"></select>
                            <span class="error" ng-show="form.clientGroup.$error.required && form.clientGroup.$touched">Please select client group.</span>
                        </div>
                    </div>

                    <!--loadClients
        <div class="row">
            <div class="col-sm-12 form-group">
                <label>Select Client</label>
                <select required class="form-control" name="clientName" ng-model="collection.selectedClient" ng-options="client.id as client.name for client in clients"></select>
                <span class="error" ng-show="form.clientGroup.$error.required && form.clientGroup.$touched">Please select client group.</span>
            </div>
        </div>
            -->
                    <div class="row">
                        <div class="col-sm-12 form-group">
                            <label>Select Account</label>
                            <select required class="form-control" name="accountName" ng-model="collection.selectedAccount" ng-options="account as account.name for account in accounts"></select>
                            <span class="error" ng-show="form.accountName.$error.required && form.accountName.$touched">Please select which account to make transactions.</span>
                        </div>
                    </div>



                    <div class="row">
                        <div class="col-md-3 form-group">

                            <label class="label-transaction">Transaction Type</label>

                            <div class="garage-title">
                                <label class="label-transaction">
                                    <input type="radio" ng-model="collection.transactionType" ng-change="loadAllTickers()" value="Equity" ng-required="!collection.transactionType" />
                                    Equity
                                </label>
                                <label class="label-transaction">
                                    <input type="radio" ng-model="collection.transactionType" value="Bond" ng-required="!collection.transactionType" />
                                    Bond
                                </label>
                                <label class="label-transaction">
                                    <input type="radio" ng-model="collection.transactionType" value="Property" ng-required="!collection.transactionType" />
                                    Property
                                </label>
                                <label class="label-transaction">
                                    <input type="radio" ng-model="collection.transactionType" value="Insurance" ng-required="!collection.transactionType" />
                                    Insurance
                                </label>
                                <label class="label-transaction">
                                    <input type="radio" ng-model="collection.transactionType" value="MarginLending" ng-required="!collection.transactionType" />
                                    Margin Lending
                                </label>
                            </div>
                        </div>
                    </div>


                    <div class="col-md-8 form-group">
                        <div ng-if="collection.transactionType==='Equity'">
                            <div class="row">
                                <label>Equity Transaction</label><br />
                                <label class="lable-margin">Ticker</label>
                                <select class="form-control" ng-model="collection.equityTrans.Ticker" name="ticker" required ng-options="item as item.tickerNumber for item in allTickers" />
                                <div class="error" ng-show="form.ticker.$error.required&&form.ticker.$touched">Please select ticker</div>

                                <label class="lable-margin">Company Name</label>
                                <select class="form-control" ng-model="collection.equityTrans.Ticker" name="CompanyName" required ng-options="item as item.tickerName for item in allTickers" />
                                <div class="error" ng-show="form.CompanyName.$error.required&&form.CompanyName.$touched">Please select Company Name</div>
                            </div>
                            <div class="row">
                                <label class="label-transaction lable-margin">Price</label>
                                <input type="text" ng-model="collection.equityTrans.Price" class="form-control" required name="Price" />
                                <div class="error" ng-show="form.Price.$error.required&&form.Price.$touched">Please Enter Price</div>

                                <label class="label-transaction lable-margin">Number of Units  (Total Amount: <span class="color-blue">{{collection.equityTrans.Price * collection.equityTrans.NumberOfUnits | currency}}</span>)</label>
                                <input type="text" ng-model="collection.equityTrans.NumberOfUnits" class="form-control" required name="NumberOfUnits" />
                                <div class="error" ng-show="form.NumberOfUnits.$error.required&&form.NumberOfUnits.$touched">Please Enter Number Of Units</div>

                                <label class="label-transaction lable-margin">Loan Amount</label>
                                <input type="text" ng-model="collection.equityTrans.LoanAmount" class="form-control" required name="LoanAmount" />
                                <div class="error" ng-show="form.LoanAmount.$error.required&&form.LoanAmount.$touched">Please Loan Amount</div>
                            </div>
                            <div class="row">
                                <label class="lable-margin">Transaction Date</label>
                                <input class="form-control" edis-datepicker ng-model="collection.equityTrans.TransactionDate" required />
                                <div class="error" ng-show="form.TransactionDate.$error.required&&form.TransactionDate.$touched">Please select a transaction date</div>
                            </div>
                        </div>






                        <div ng-if="collection.transactionType==='Bond'">
                            <div class="row">
                                <label>Bond Transaction</label>
                            </div>
                            <div class="row">
                                <select class="form-control" ng-model="collection.bondTrans.Ticker" name="ticker" required ng-options="item as item.tickerNumber for item in bondTickers" />
                                <div class="error" ng-show="form.ticker.$error.required&&form.ticker.$touched">Please select ticker</div>
                            </div>
                            <!--May implement bond information when it got selected-->

                            <div class="row">
                                <label class="label-transaction lable-margin">Price</label>
                                <input type="text" ng-model="collection.bondTrans.Price" class="form-control" required name="Price" />
                                <div class="error" ng-show="form.Price.$error.required&&form.Price.$touched">Please Enter Price</div>

                                <label class="label-transaction lable-margin">Number of Units  (Total Amount: <span class="color-blue">{{collection.bondTrans.Price * collection.bondTrans.NumberOfUnits | currency}}</span>)</label>
                                <input type="text" ng-model="collection.bondTrans.NumberOfUnits" class="form-control" required name="NumberOfUnits" />
                                <div class="error" ng-show="form.NumberOfUnits.$error.required&&form.NumberOfUnits.$touched">Please Enter Number Of Units</div>
                            </div>

                            <div class="row">
                                    <label class="lable-margin">Transaction Date</label>
                                    <input class="form-control" edis-datepicker ng-model="collection.bondTrans.TransactionDate" required name="TransactionDate" />
                                    <div class="error" ng-show="form.TransactionDate.$error.required&&form.TransactionDate.$touched">Please select a transaction date</div>
                             </div>
                        </div>








                        <div ng-if="collection.transactionType==='Property'">
                            <div class="row">
                                <table class="row">
                                    <tr>
                                        <td class="col-md-6">
                                            <label class="label-transaction lable-margin">Property Full Address</label>
                                            <input type="text" ng-model="collection.propertyTrans.propertyAddress" class="form-control" required name="propertyAddress" />
                                            <div class="error" ng-show="form.propertyAddress.$error.required&&form.propertyAddress.$touched">Please Enter The Full Address</div>
                                        </td>
                                        <td class="col-md-6">
                                            <label class="label-transaction lable-margin">Property Type</label>
                                            <select class="form-control" ng-model="collection.propertyTrans.propertyType" name="propertyType" required ng-options="item.id as item.name for item in propertyTypes" />
                                            <div class="error" ng-show="form.propertyType.$error.required&&form.propertyType.$touched">Please Select a Property Type</div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="col-md-6">
                                            <label class="label-transaction lable-margin">Property Price</label>
                                            <input type="number" ng-model="collection.propertyTrans.propertyPrice" class="form-control" required name="propertyPrice" />
                                            <div class="error" ng-show="form.propertyPrice.$error.required&&form.propertyPrice.$touched">Please Enter Property Price</div>

                                        </td>
                                        <td class="col-md-6"></td>
                                    </tr>
                                    <tr>
                                        <td class="col-md-6">
                                            <label class="label-transaction lable-margin">Loan Amount</label>
                                            <input type="number" ng-model="collection.propertyTrans.loanAmount" class="form-control" required name="loanAmount" />
                                            <div class="error" ng-show="form.loanAmount.$error.required&&form.loanAmount.$touched">Please Enter Loan Amount</div>

                                        </td>
                                        <td class="col-md-6">
                                            <label class="label-transaction lable-margin">Loan Institution</label>
                                            <input type="text" ng-model="collection.propertyTrans.institution" class="form-control" required name="institution" />
                                            <div class="error" ng-show="form.institution.$error.required&&form.institution.$touched">Please Enter Loan Institution</div>

                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="col-md-6">
                                            <label class="label-transaction lable-margin">Loan Rate</label>
                                            <input type="number" ng-model="collection.propertyTrans.loanRate" class="form-control" required name="loanRate" />
                                            <div class="error" ng-show="form.loanRate.$error.required&&form.loanRate.$touched">Please Enter Loan Rate</div>

                                        </td>
                                        <td class="col-md-6">
                                            <label class="label-transaction lable-margin">Type of Rate</label>
                                            <select class="form-control" ng-model="collection.propertyTrans.typeOfRate" name="typeOfRate" required ng-options="item.id as item.name for item in typeOfRates" />
                                            <div class="error" ng-show="form.typeOfRate.$error.required&&form.typeOfRate.$touched">Please Select Type Of Rate</div>

                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="col-md-6">
                                            <label class="lable-margin">Granted Date</label>
                                            <input class="form-control" edis-datepicker ng-model="collection.propertyTrans.grantedDate" required name="grantedDate" />
                                            <div class="error" ng-show="form.grantedDate.$error.required&&form.grantedDate.$touched">Please select a Granted date</div>
                                        </td>
                                        <td class="col-md-6">
                                            <label class="lable-margin">Expiry Date</label>
                                            <input class="form-control" edis-datepicker ng-model="collection.propertyTrans.expiryDate" required name="expiryDate" />
                                            <div class="error" ng-show="form.expiryDate.$error.required&&form.expiryDate.$touched">Please select a transaction date</div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="col-md-6">
                                            <label class="label-transaction lable-margin">Transaction fee</label>
                                            <input type="text" ng-model="collection.propertyTrans.transactionFee" class="form-control" required name="transactionFee" />
                                            <div class="error" ng-show="form.transactionFee.$error.required&&form.typeOfRate.$touched">Please Enter Transaction Fee</div>

                                        </td>
                                        <td class="col-md-6">
                                            <label class="lable-margin">Transaction Date</label>
                                            <input class="form-control" edis-datepicker ng-model="collection.propertyTrans.transactionDate" required name="propertyTransactionDate" />
                                            <div class="error" ng-show="form.propertyTransactionDate.$error.required&&form.propertyTransactionDate.$touched">Please select a transaction date</div>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>

                        <div ng-if="collection.transactionType==='Insurance'">
                            <div class="row">
                                <label>Insurance Transaction</label>
                            </div>

                            <div class="row">
                                <table class="row">
                                    <tr>
                                        <td class="col-md-6">
                                            <label class="label-transaction lable-margin">Insurance Type</label>
                                            <select class="form-control" ng-model="collection.insureTrans.insuranceType" name="insuranceType" required ng-options="item.id as item.name for item in insuranceTypes" >
                                                <!--<option>None</option>
                                                <option>Asset Insurance</option>
                                                <option>Persoanl Insurance</option>
                                                <option>Liability Insurance</option>
                                                <option>Miscellaneous Insurance</option>-->
                                            </select>
                                            <span class="error" ng-show="form.insuranceType.$error.required && form.insuranceType.$touched">Please select insurance type.</span>

                                        </td>
                                        <td class="col-md-6">
                                            <label class="label-transaction lable-margin">Amount Insured</label>
                                            <input type="number" ng-model="collection.insureTrans.insureAmount" class="form-control" required name="insureAmount" />
                                            <div class="error" ng-show="form.insureAmount.$error.required&&form.insureAmount.$touched">Please Enter insure Amount</div>
                                        </td>

                                        <td class="col-md-6">
                                            <label class="label-transaction lable-margin">Is aquired</label>
                                            <input type="radio" ng-model="collection.insureTrans.isAquired" name="true" value="true" ng-required="!collection.isAquired" style="width:30px;"/><label style="width:100px;">Yes</label>
                                            <input type="radio" ng-model="collection.insureTrans.isAquired" name="false"  value="false" ng-required="!collection.isAquired"  style="width:30px;"/><label style="width:100px;">No</label>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="col-md-6">
                                            <label class="label-transaction lable-margin">Policy type</label>
                                            <select class="form-control" ng-model="collection.insureTrans.policyType" name="policyType" required ng-options="item.id as item.name for item in policyTypes">
                                               
                                            </select>
                                            <span class="error" ng-show="form.policyType.$error.required && form.policyType.$touched">Please select policy Type.</span>

                                        </td>
                                        <td class="col-md-6">
                                            <label class="label-transaction lable-margin">Policy Number</label>
                                            <input type="number" ng-model="collection.insureTrans.policyNumber" class="form-control" required name="policyNumber" />
                                            <div class="error" ng-show="form.policyNumber.$error.required&&form.policyNumber.$touched">Please Enter Policy Number</div>

                                        </td>
                                        <td class="col-md-6">
                                            <label class="label-transaction lable-margin">Policy Address</label>
                                            <input type="text" ng-model="collection.insureTrans.policyAddress" class="form-control" required name="policyAddress" />
                                            <div class="error" ng-show="form.policyAddress.$error.required&&form.policyAddress.$touched">Please Enter Policy Address</div>

                                        </td>
                                    </tr>

                                    <tr>
                                        <td class="col-md-6">
                                            <label class="label-transaction lable-margin">Premium</label>
                                            <input type="number" ng-model="collection.insureTrans.Premium" class="form-control" required name="Premium" />
                                            <div class="error" ng-show="form.Premium.$error.required&&form.Premium.$touched">Please Enter Premium</div>

                                        </td>
                                        <td class="col-md-6">
                                            <label class="lable-margin">Issuer</label>
                                            <input type="text" ng-model="collection.insureTrans.issuer" class="form-control" required name="issuer" />
                                            <div class="error" ng-show="form.issuer.$error.required&&form.issuer.$touched">Please Enter Issuer</div>
                                        </td>
                                        <td class="col-md-6">
                                            <label class="lable-margin">Entities insured</label>
                                            <input type="text" ng-model="collection.insureTrans.insuredEntity" class="form-control" required name="insuredEntity" />
                                            <div class="error" ng-show="form.insuredEntity.$error.required&&form.insuredEntity.$touched">Please Enter Insured Entity</div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="col-md-6">
                                            <label class="lable-margin">Granted Date</label>
                                            <input class="form-control" edis-datepicker ng-model="collection.insureTrans.grantedDate" required name="grantedDate" />
                                            <div class="error" ng-show="form.grantedDate.$error.required&&form.grantedDate.$touched">Please select a Granted date</div>
                                        </td>
                                        <td class="col-md-6">
                                            <label class="lable-margin">Expiry Date</label>
                                            <input class="form-control" edis-datepicker ng-model="collection.insureTrans.expiryDate" required name="expiryDate" />
                                            <div class="error" ng-show="form.expiryDate.$error.required&&form.expiryDate.$touched">Please select an Expiry Date</div>
                                        </td>
                                    </tr>
                                    
                                </table>
                            </div>

                        
                        </div>

                        <div ng-if="collection.transactionType==='MarginLending'">
                            <div class="row">
                                <label>Margin Lending Transaction</label>


                            </div>
                        </div>

                        <div class="row button-transaction">
                            <button class="btn btn-default" ng-disabled="!form.$valid" ng-click="save()">Create</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>



    </div>
</div>